<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>QLPlugin</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>com.sun.java-archive</string>
				<string>com.sun.web-application-archive</string>
				<string>dyn.ah62d4rv4ge80n2pw</string>
				<string>org.gnu.gnu-zip-archive</string>
				<string>public.tar-archive</string>
				<string>public.zip-archive</string>
				<string>dyn.ah62d4rv4ge80w6d3r3va</string>
				<string>com.unknown.md</string>
				<string>dyn.ah62d4rv4ge8042pwrrwg875s</string>
				<string>dyn.ah62d4rv4ge8043a</string>
				<string>dyn.ah62d4rv4ge8043dts71a</string>
				<string>dyn.ah62d4rv4ge80445e</string>
				<string>dyn.ah62d4rv4ge80445er2</string>
				<string>dyn.ah62d4rv4ge80445er7506</string>
				<string>dyn.ah62d4rv4ge81e5pe</string>
				<string>net.daringfireball.markdown</string>
				<string>net.ia.markdown</string>
				<string>dyn.ah62d4rv4ge81k2pc</string>
				<string>public.tab-separated-values-text</string>
				<string>com.adobe.jsx</string>
				<string>com.apple.applescript.script-bundle</string>
				<string>com.apple.applescript.script</string>
				<string>com.apple.applescript.text</string>
				<string>com.apple.disk-image-dart</string>
				<string>com.apple.dt.document.scheme</string>
				<string>com.apple.dt.interfacebuilder.document.storyboard</string>
				<string>com.apple.interfacebuilder.document.cocoa</string>
				<string>com.apple.rez-source</string>
				<string>com.apple.rez-source</string>
				<string>com.apple.xcode.entitlements-property-list</string>
				<string>com.apple.xcode.projectdata</string>
				<string>com.apple.xcode.strings-dictionary</string>
				<string>com.apple.xcode.strings-text</string>
				<string>com.barebones.bbedit.ini-configuration</string>
				<string>com.barebones.bbedit.scss-source</string>
				<string>com.barebones.bbedit.tex-source</string>
				<string>com.eiffel.source-code</string>
				<string>com.microsoft.csharp-source</string>
				<string>com.microsoft.f-sharp</string>
				<string>com.netscape.javascript-source</string>
				<string>com.runningwithcrayons.alfred.appearance</string>
				<string>com.sequelpro.sequelpro.spf</string>
				<string>com.sequelpro.sequelpro.sptheme</string>
				<string>com.sequelpro.sequelpro.sql</string>
				<string>com.sun.java-source</string>
				<string>com.vallettaventures.texpadm.bibtex</string>
				<string>com.vallettaventures.texpadm.tex</string>
				<string>dyn.ah62d4rv4ge8007a</string>
				<string>dyn.ah62d4rv4ge8024pvszy0k</string>
				<string>dyn.ah62d4rv4ge80255drq</string>
				<string>dyn.ah62d4rv4ge8043d2</string>
				<string>dyn.ah62d4rv4ge8045a</string>
				<string>dyn.ah62d4rv4ge8064p2</string>
				<string>dyn.ah62d4rv4ge8064pr</string>
				<string>dyn.ah62d4rv4ge8064prsm10k</string>
				<string>dyn.ah62d4rv4ge8064xp</string>
				<string>dyn.ah62d4rv4ge80c7p2</string>
				<string>dyn.ah62d4rv4ge80g55sq2</string>
				<string>dyn.ah62d4rv4ge80g5pbrrwu</string>
				<string>dyn.ah62d4rv4ge80g62</string>
				<string>dyn.ah62d4rv4ge80g6pq</string>
				<string>dyn.ah62d4rv4ge80k4pxsu</string>
				<string>dyn.ah62d4rv4ge80n5dr</string>
				<string>dyn.ah62d4rv4ge80n65dsmy1a7a</string>
				<string>dyn.ah62d4rv4ge80n8a</string>
				<string>dyn.ah62d4rv4ge80n8dx</string>
				<string>dyn.ah62d4rv4ge80s3prsr2gn22</string>
				<string>dyn.ah62d4rv4ge80s52</string>
				<string>dyn.ah62d4rv4ge80s6xbqv0gn</string>
				<string>dyn.ah62d4rv4ge80s6xbsbyhc5a</string>
				<string>dyn.ah62d4rv4ge80s6xbsbyhc5dx</string>
				<string>dyn.ah62d4rv4ge80u25q</string>
				<string>dyn.ah62d4rv4ge80u2psqv0gn2xbsm3u</string>
				<string>dyn.ah62d4rv4ge80u2xx</string>
				<string>dyn.ah62d4rv4ge80w5pq</string>
				<string>dyn.ah62d4rv4ge80y5a</string>
				<string>dyn.ah62d4rv4ge80y652</string>
				<string>dyn.ah62d4rv4ge81a63v</string>
				<string>dyn.ah62d4rv4ge81a65rge</string>
				<string>dyn.ah62d4rv4ge81e2ppqy</string>
				<string>dyn.ah62d4rv4ge81e3pxr70hq3pe</string>
				<string>dyn.ah62d4rv4ge81e3pxsu</string>
				<string>dyn.ah62d4rv4ge81e45y</string>
				<string>dyn.ah62d4rv4ge81e62</string>
				<string>dyn.ah62d4rv4ge81e65y</string>
				<string>dyn.ah62d4rv4ge81e6k</string>
				<string>dyn.ah62d4rv4ge81g25brvuu</string>
				<string>dyn.ah62d4rv4ge81g25xsq</string>
				<string>dyn.ah62d4rv4ge81g2pxsq</string>
				<string>dyn.ah62d4rv4ge81g3pws3y0g3k</string>
				<string>dyn.ah62d4rv4ge81g6dbsm202</string>
				<string>dyn.ah62d4rv4ge81g6pq</string>
				<string>dyn.ah62d4rv4ge81g7xfrv4gn</string>
				<string>dyn.ah62d4rv4ge81k55d</string>
				<string>dyn.ah62d4rv4ge81k55rru</string>
				<string>dyn.ah62d4rv4ge81k652</string>
				<string>dyn.ah62d4rv4ge81k75mq6</string>
				<string>dyn.ah62d4rv4ge81k7dq</string>
				<string>dyn.ah62d4rv4ge81q7pf</string>
				<string>dyn.ah62d4rv4ge81s3pcrzu064pgqz31k</string>
				<string>dyn.ah62d4rv4ge81s65eru</string>
				<string>dyn.ah62d4rv4ge81s65g</string>
				<string>dyn.ah62d4rv4ge81u65e</string>
				<string>dyn.ah62d4rv4ge81u65q</string>
				<string>dyn.ah62d4rv4ge81u65qsu</string>
				<string>org.arduino.ino-source</string>
				<string>org.arduino.source</string>
				<string>org.asm.source</string>
				<string>org.codehaus.groovy-source</string>
				<string>org.coffee.source</string>
				<string>org.coffeescript.coffeescript</string>
				<string>org.cson.source</string>
				<string>org.erlang.erlang-source</string>
				<string>org.fish.source</string>
				<string>org.gcc.files</string>
				<string>org.go.source</string>
				<string>org.gradle.source</string>
				<string>org.haskell.haskell-source</string>
				<string>org.haskell.literate-haskell-source</string>
				<string>org.inno.source</string>
				<string>org.iso.sql</string>
				<string>org.khronos.glsl.fragment-shader</string>
				<string>org.khronos.glsl.vertex-shader</string>
				<string>org.kmt.source</string>
				<string>org.kotlinlang.source</string>
				<string>org.lua.lua-source</string>
				<string>org.microsoft.inf</string>
				<string>org.n8gray.awk</string>
				<string>org.n8gray.bat</string>
				<string>org.n8gray.ini-source</string>
				<string>org.n8gray.jsp-source</string>
				<string>org.n8gray.lisp</string>
				<string>org.n8gray.makefile</string>
				<string>org.n8gray.railstemplate</string>
				<string>org.n8gray.scheme-source</string>
				<string>org.n8gray.standard-ml-source</string>
				<string>org.n8gray.structured-query-language-source</string>
				<string>org.n8gray.verilog</string>
				<string>org.n8gray.vhdl</string>
				<string>org.nfo</string>
				<string>org.ocaml.ocaml-interface</string>
				<string>org.ocaml.ocaml-source</string>
				<string>org.omg.ecore</string>
				<string>org.rdf.source</string>
				<string>org.rust-lang.source</string>
				<string>org.scala.source</string>
				<string>org.tug.latex</string>
				<string>org.tug.lua</string>
				<string>org.tug.tex</string>
				<string>org.vim.vim-script</string>
				<string>org.xul.source</string>
				<string>public.ada-source</string>
				<string>public.assembly-source</string>
				<string>public.bash-script</string>
				<string>public.c-header</string>
				<string>public.c-plus-plus-header</string>
				<string>public.c-plus-plus-source</string>
				<string>public.c-source</string>
				<string>public.csh-script</string>
				<string>public.css</string>
				<string>public.data</string>
				<string>public.fortran-90-source</string>
				<string>public.fortran-source</string>
				<string>public.json</string>
				<string>public.ksh-script</string>
				<string>public.make-source</string>
				<string>public.module-map</string>
				<string>public.objective-c-source</string>
				<string>public.opencl-source</string>
				<string>public.pascal-source</string>
				<string>public.patch-file</string>
				<string>public.perl-script</string>
				<string>public.php-script</string>
				<string>public.plain-text</string>
				<string>public.protobuf-source</string>
				<string>public.python-script</string>
				<string>public.rss</string>
				<string>public.ruby-script</string>
				<string>public.script</string>
				<string>public.shell-script</string>
				<string>public.source-code</string>
				<string>public.swift-source</string>
				<string>public.tcsh-script</string>
				<string>public.tex</string>
				<string>public.text</string>
				<string>public.yaml</string>
				<string>public.zsh-script</string>
				<string>tk.tcl.tcl-source</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<true/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).MainVC</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2021 CHamburr. All rights reserved.</string>
</dict>
</plist>
